<%= form_with(model: visit) do |form| %>
  <% if visit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :topic, style: "display: block" %>
    <%= form.text_field :topic %>
  </div>

  <div>
    <%= form.label :patient, style: "display: block" %>
    <%= form.text_field :patient %>
  </div>

  <div>
    <%= form.label :doctor, style: "display: block" %>
    <%= form.text_field :doctor %>
  </div>

  <div>
    <%= form.label :begining, style: "display: block" %>
    <%= form.datetime_field :begining %>
  </div>

  <div>
    <%= form.label :ending, style: "display: block" %>
    <%= form.datetime_field :ending %>
  </div>
  <div>
    <% if current_user.email == "admin@szpital" %>
      <%= form.label :doctor, style: "display: block" %>
      <%= form.number_field :user_id, id: :visit_user_id  %>
    <% else %>
      <%= form.number_field :user_id, value: current_user.id, id: :visit_user_id, type: :hidden  %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
