<div id="<%= dom_id visit %>">
  <p>
    <strong>Topic:</strong>
    <%= visit.topic %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= visit.patient %>
  </p>

  <p>
    <strong>Begining:</strong>
    <%= visit.begining %>
  </p>

  <p>
    <strong>Ending:</strong>
    <%= visit.ending %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= visit.doctor_id %>
  </p>

</div>
