<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   <h3><%= link_to "HOME", root_path, class:"nav-link" %></h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Add visit", new_visit_path, class:"nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Show visits", visits_path, class:"nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
              <%= link_to 'Edit profile', edit_user_registration_path, class:"nav-link"%>
          </li>
          
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
          </li>
        <% end %>
        <% if user_signed_in? && current_user.email == "admin@szpital" %>
          <li class="nav-item">
            <%= link_to "Add new doctor", new_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add patient", new_patient_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Show patients", patients_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>